<app-header></app-header>
<app-siderbar></app-siderbar>
<main role="main" class="wlt-mainpanel ml-sm-auto px-2 py-2">
    <mat-card>
        <mat-card-title>
            <div class="row">
                <div class="col-6 col-md-8 col-lg-9">
                    <h3>Role Permission Map</h3>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <button mat-raised-button color="primary" class="float-right" (click)="save()" *hasPermission="[permission.Role_Permission_Map_Create]">Save</button>
                </div>
            </div>
        </mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Role</mat-label>
                <mat-select (selectionChange)="onChange($event.value)">
                    <mat-option *ngFor="let role of roles; let i = index" [value]="role.Id">
                        {{role.Name}}
                    </mat-option>
                </mat-select>
                <mat-error>Please select at least one property</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <ngx-treeview class="treeview" [config]="config" [items]="rightList"
                (selectedChange)="rightIdList = $event">
            </ngx-treeview>
        </mat-card-content>
    </mat-card>
</main>
<app-footer></app-footer>