<nav class="wlt-sidebar wlt-sidebar-offcanvas" id="wlt-sidebar">
  <div class="wlt-sidebar-sticky">
    <ul class="nav flex-column">
      <div *hasPermission="[permission.Organization_List]">
        <li class="nav-item">
          <a class="nav-link" routerLink="/organization" routerLinkActive="active">
            <i class="fa fa-building-o" aria-hidden="true"></i>
            <span class="wlt-menu-title"> Organization</span>
          </a>
        </li>
      </div>
      <ng-container *hasPermission="[permission.Warehouse_List]">
        <li class="nav-item" *hasPermission="[permission.Warehouse_List]">
          <a class="nav-link" routerLink="/warehouse" routerLinkActive="active">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="wlt-menu-title"> Warehouse</span>
          </a>
        </li>
      </ng-container>

       <li class="nav-item" *hasPermission="[permission.Worker_List]">
        <a class="nav-link" routerLink="/worker" routerLinkActive="active">
          <i class="fa fa-users" aria-hidden="true"></i>
          <span class="wlt-menu-title"> Worker</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.LookUp_List]">
        <a class="nav-link" routerLink="/lookup" routerLinkActive="active">
          <i class="fa fa-folder" aria-hidden="true"></i>
          <span class="wlt-menu-title"> LookUp</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.Permission_Entity_List]">
        <a class="nav-link" routerLink="/permission-entity" routerLinkActive="active">
          <i class="fa fa-wpforms" aria-hidden="true"></i>
          <span class="wlt-menu-title"> Permission Entity</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.Role_List]">
        <a class="nav-link" routerLink="/role" routerLinkActive="active">
          <i class="fa fa-tasks" aria-hidden="true"></i>
          <span class="wlt-menu-title"> Role</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.Role_Permission_Map_List]">
        <a class="nav-link" routerLink="/role-permission-entity-lookUp" routerLinkActive="active">
          <i class="fa fa-user-secret" aria-hidden="true"></i>
          <span class="wlt-menu-title">Role Permission Map</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.Entity_Lookup_Map_List]">
        <a class="nav-link" routerLink="/permission-entity-lookUp" routerLinkActive="active">
          <i class="fa fa-file-archive-o " aria-hidden="true"></i>
          <span class="wlt-menu-title"> Entity Lookup Map</span>
        </a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#drop-menu" aria-expanded="false" aria-controls="drop-menu">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            <span  class="wlt-menu-title">Question Bank</span>
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </a>
          <div class="collapse" id="drop-menu">
            <ul class="nav flex-column ac-sub-menu">
              <li class="nav-item"> <a class="nav-link" href="#">Manage Exam</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Manage Subject</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Manage Chapter</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Download Queston</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Create/Edit Question</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Question Bulk Upload</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Manage Question</a></li>
            </ul>
          </div>
        </li> -->
       <li class="nav-item" *hasPermission="[permission.Vendor_List]">
        <a class="nav-link" routerLink="/vendor" routerLinkActive="active">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <span class="wlt-menu-title">Vendor</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.Category_List]">
        <a class="nav-link" routerLink="/category" routerLinkActive="active">
          <i class="fa fa-list-ul" aria-hidden="true"></i>
          <span class="wlt-menu-title">Category</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.UOM_List]">
        <a class="nav-link" routerLink="/uom" routerLinkActive="active">
          <i class="fa fa-sitemap" aria-hidden="true"></i>
          <span class="wlt-menu-title">UOM</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.UOM_Conversion_List]">
        <a class="nav-link" routerLink="/uom-converstion" routerLinkActive="active">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
          <span class="wlt-menu-title">UOM Conversion</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.Items_List]">
        <a class="nav-link" routerLink="/items" routerLinkActive="active">
          <i class="fa fa-industry" aria-hidden="true"></i>
          <span class="wlt-menu-title">Items</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.Item_Type_List]">
        <a class="nav-link" routerLink="/item-types" routerLinkActive="active">
          <i class="fa fa-industry" aria-hidden="true"></i>
          <span class="wlt-menu-title">Item Type</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.Item_Category_List]">
        <a class="nav-link" routerLink="/item-category" routerLinkActive="active">
          <i class="fa fa-industry" aria-hidden="true"></i>
          <span class="wlt-menu-title">Item Category</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.Item_Consumption_List]">
        <a class="nav-link" routerLink="/item-consumption" routerLinkActive="active">
          <i class="fa fa-industry" aria-hidden="true"></i>
          <span class="wlt-menu-title">Item Consumption</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.PurchaseOrder_List]">
        <a class="nav-link" routerLink="/purchase-order-list" routerLinkActive="active">
          <i class="fa fa-industry" aria-hidden="true"></i>
          <span class="wlt-menu-title">Purchase Order</span>
        </a>
      </li>
      <li class="nav-item" *hasPermission="[permission.Inventory_Adjustment_List]">
        <a class="nav-link" routerLink="/inventory-adjustment-list" routerLinkActive="active">
          <i class="fa fa-industry" aria-hidden="true"></i>
          <span class="wlt-menu-title">Inventory Adjustment</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#drop-menu" aria-expanded="false" aria-controls="drop-menu">
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
          <span class="wlt-menu-title">Reports</span>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
        <div class="collapse" id="drop-menu">	
          <ul class="nav flex-column ac-sub-menu">
            <li class="nav-item" *hasPermission="[permission.Consumption_Report_List]">
              <a class="nav-link" routerLink="/consumption-report" routerLinkActive="active">
                <i class="fa fa-file" aria-hidden="true"></i>
                <span class="wlt-menu-title">Consumption Report</span>
              </a>
            </li>
            <li class="nav-item" *hasPermission="[permission.On_Hand_Report_List]">
              <a class="nav-link" routerLink="/on-hand-report" routerLinkActive="active">
                <i class="fa fa-file" aria-hidden="true"></i>
                <span class="wlt-menu-title">On-Hand Report</span>
              </a>
            </li>
            <li class="nav-item" *hasPermission="[permission.Purchase_Enquiry_Report_List]">
              <a class="nav-link" routerLink="/purchase-enquiry-report" routerLinkActive="active">
                <i class="fa fa-file" aria-hidden="true"></i>
                <span class="wlt-menu-title">Purchase Enquiry Report</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>